@mixin input-default
  outline: none
  border-inline: 0
  border-radius: $border_radius-s

@mixin input-textable($bg-color)
  & .input
    // todo implement autocomplete custom styles
    //input: -webkit-autofill
    //  -webkit-box-shadow: inset 0 0 0 50px $background-grey-light !important

    *
      font-size: $font-size-main
      line-height: $line_height-main
      font-weight: bold

    &:not(:last-child)
      bottom: $margin-m


    @include input-styled-label_to_border_on_focus($bg-color)

    & .error
      @include error-block

@mixin input-styled-label_to_border_on_focus($bg-color)
  &.label
    font-weight: bold
    background: $bg-color
    color: $font-color-grey-dark
    @include field-label-to-border-position

  &.field
    @include input-default
    display: block
    background: $bg-color
    width: 100%
    height: 100%
    padding: $padding-s * 1.5 $padding-s
    color: $font-color-orange
    &.static
      background: $background-grey
      border: $border-width-input solid $color-dark


  &.editable
    & .label
      color: $font-color-grey-dark
    & .field
      border: $border_width-input solid $font-color-orange
      &:focus,
      &.input:not(:placeholder-shown)
        & + .input.label
          @include field_editable-label-to-border-transition
          color: $font-color-orange
          background: $bg-color
      &:hover
        & + .input.label
          color: $font-color-orange

  &.static
    & .label
      background: transparent
      color: $font-color-dark
      @include field_static-label-to-border-transition
    & .field
      border: $border_width-input solid $font-color-dark

@mixin internal-date-picker($bg-color)
  & .container
    border: $border_width-input solid $color-orange
    border-radius: $border-radius-s
    overflow: hidden
    & .label
      font-weight: bold
      color: $font-color-grey-dark
      cursor: pointer
      @include field-label-to-border-position
    & div.value
      width: 100%
      padding: $padding-s * 1.5 $padding-s
      cursor: pointer
      & span
        color: $color-orange
        font-size: $font-size-main
        line-height: $line_height-main
        font-weight: bold
      & div
        height: $line_height-main

    &.editable
      &:hover
        & .label
          color: $font-color-orange !important
      &.active, &.valued
        & .label
          @include field_editable-label-to-border-transition
          color: $font-color-orange
          background: $bg-color
      & div.value
        width: 100%
        padding: $padding-s * 1.5 $padding-s
        cursor: pointer
        & span
          color: $color-orange
          font-size: $font-size-main
          line-height: $line_height-main
          font-weight: bold
        & div
          height: $line_height-main
    &.static
      border: $border_width-input solid $color-dark
      & div.value
        background: $background-grey
        & span.empty
          color: $font-color-grey-dark
      & .label
        @include field_static-label-to-border-transition
        color: $font-color-dark
        background: transparent
    & .internal_date_picker
      background: $background-orange
      border-radius: 0

  & .error
    @include error-block
@mixin internal-select($bg-color)
  & .container
    border: $border_width-input solid $color-orange
    border-radius: $border-radius-s
    overflow: hidden
    & .label
      font-weight: bold
      color: $font-color-grey-dark
      cursor: pointer
      line-height: $line-height-main
      @include field-label-to-border-position

    & div.value
      width: 100%
      padding: $padding-s * 1.5 $padding-s
      cursor: pointer
      background: $bg-color
      & span
        color: $color-orange
        font-size: $font-size-main
        line-height: $line_height-main
        font-weight: bold
      & div
        height: $line_height-main
    & .options
      & .option
        background: $background-orange
        padding: $padding-xs
        &:hover
          cursor: pointer
          background: $background-orange-dark
        & span
          font-size: $font-size-main
          line-height: $line-height-main
        &:first-of-type
          padding-top: $padding-s
        &:last-of-type
          padding-bottom: $padding-s
    &.editable
      &.active, &.valued
        & .label
          @include field_editable-label-to-border-transition
          color: $font-color-orange
          background: $bg-color
      &:hover
        & .label
          color: $font-color-orange

    &.static
      border: $border_width-input solid $color-dark
      & div.value
        background: $background-grey
        & span.empty
          color: $font-color-grey-dark
      & .label
        @include field_static-label-to-border-transition
        color: $font-color-dark
        background: transparent


  & .error
    @include error-block

@mixin field-label-to-border-position
  position: absolute
  left: $border_width-input
  top: $border_width-input
  margin: $padding-s * 1.5 $padding-s
  padding: 0 $padding-s
  transform: translate(0, 0)
  transform-origin: 0 0
  transition: transform 120ms ease-in

@mixin field_editable-label-to-border-transition
  transform: translate(0, - ($padding-s + ($line_height-main / 1.5) + $border_width-input)) scale(.9) !important
@mixin field_static-label-to-border-transition
  transform: translate(-$padding-s, - ($padding-s + $line_height-main + 2 + $border_width-input)) scale(.9) !important
