<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list *ngIf="!links.length; else linksLengthElseBlock"
                  fxLayout="column" fxLayoutALign="start center">
      <div class="mat-error" fxFlexAlign="center">No routes available</div>
    </mat-nav-list>

    <ng-template #linksLengthElseBlock>
      <mat-nav-list
        *ngIf="(isHandset$ | async) === false; else notLargeElseBlock"
        fxLayout="column" fxLayoutALign="start center">
        <a mat-list-item *ngFor="let link of links" [routerLink]="link.address">
          {{link.title}}
        </a>
      </mat-nav-list>
    </ng-template>

    <ng-template #notLargeElseBlock>
      <mat-nav-list
        fxLayout="column" fxLayoutALign="start center">
        <a mat-list-item *ngFor="let link of links" [routerLink]="link.address"
           (click)="drawer.toggle()"
        >
          {{link.title}}
        </a>
      </mat-nav-list>
    </ng-template>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a routerLink="/" mat-button>
          Race Logic Admin
        </a>
      </div>
      <app-logout-button *ngIf="isUserLogged; else appAuthButtonElseBlock"
                         (click)="onLogoutClick()"
                         [username]="nickname || 'Unknown'"
      >
      </app-logout-button>
      <ng-template #appAuthButtonElseBlock>
        <app-login-button></app-login-button>
      </ng-template>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
