@import './Common/Styles/variables.sass'
@import './Common/Styles/reset.sass'

@import './Common/Styles/mixins/index'

@import '../Pages/Home/index.sass'
@import '../Pages/Login/index.sass'

html
    font-size: $font_size-main

html, body, #root
    height: 100%

body
    -webkit-font-smoothing: antialiased
    -webkit-text-size-adjust: 100%
    -webkit-tap-highlight-color: rgba(0,0,0,0)

    font-family: $font-main

    background-color: $background-grey

    section
        width: $width-main

.menu
    display: flex
    width: $width-main
    margin: 0 auto

    padding: $padding-m

    & a
        display: inline-block

        font-size: $font_size-main

        color: $font-color-orange

        text-decoration: none

        padding-left: $padding-s
        padding-right: $padding-s

section
    width: $width-main
