/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --padding: 33%;
  --padding_lt-md: 20%;
  --padding_lt-sm: 2.5%;

}
